@font-face {
	src: url(Fonts/Montserrat-Light.ttf);
	font-family: montserratlight;
}

@font-face {
	src: url(Fonts/Montserrat-Regular.ttf);
	font-family: montserratregular;
}

@font-face {
	src: url(Fonts/Montserrat-SemiBold.ttf);
	font-family: montserratsemibold;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: montserratregular;
}

body{
	background-color: #FFFAFA;
}

ul#menu{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1F0E3E;	
}

ul#menu li{
	float: left;
}

ul#menu div{
	
	background-color: #1F0E3E;
	
}

.active{
	background-color: #3D82D1;
	font-family: montserratsemibold;
}

ul#menu li div a{
	
	display:block;
	color: #FFFAFA;
	text-decoration: none;
	padding: 20px 30px;
	text-align: center;
	cursor: pointer;
}

ul#menu li a:hover:not(.active) {
  background-color: #111;
  font-family: montserratsemibold;
}


.content{
	color: #000;
	width: 1400px;
	margin: 50px auto 100px auto;
}

h1{
	font-size: 35px;
	font-family: montserratsemibold;
	margin: 25px auto 20px auto;
}

h2{
	font-size: 20px;
	font-family: montserratregular;
	margin: 0 auto 15px auto;
}

p {
	font-size: 16px;
	font-family: montserratlight;
}

br
{
    content: " " !important;
    display: block !important;
    margin:25px;
}

table{
	width:100%;
	text-align: center
}

td{
	height: 35px;
}

tr:nth-child(even) {background-color: #e1d5f6;}

tr:hover {background-color:#a482e3;}

ul#belso{

}

ul#belso li {
	margin: 0;
	padding: 15px 0 15px 45px;
	list-style: none;
	background-image: url("Képek/szívküldi.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 30px;
}

.lined{
	border-top: 2px solid #333;
}

.gallery {
  margin: 5px;
  float: left;
  width: 250px;
}

.gallery:hover {
  border: 2px solid #a482e3;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}